<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("assets/css/bootstrap.css") }}">
        {# <link rel="stylesheet" href="assets/css/bootstrap.css"> #}

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% include '_navbar.html.twig' %}
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
